html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

header {
  text-align: center;
  border: black;
  background: cadetblue;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Courier New";
}

.outPar {
  text-align: left;
  border: solid black 1px;
  padding: 10px;
}
